@keyframes bigbang-g1 {
	from {
		top: calc(50% - 6px);
		left: calc(50% - 6px);
	}
	to {
		top: 0;
		left: 0;
	}
}

@keyframes bigbang-g2 {
	from {
		top: calc(50% - 6px);
		left: calc(50% - 6px);
	}
	to {
		top: calc(100% - 12px);
		left: calc(100% - 12px);
	}
}

@keyframes bigbang-g3 {
	from {
		top: calc(50% - 6px);
		left: calc(50% - 6px);
	}
	to {
		top: 42%;
		left: calc(100% - 12px);
	}
}

@keyframes bigbang-g4 {
	from {
		top: calc(50% - 6px);
		left: calc(50% - 6px);
	}
	to {
		top: 58%;
		left: 0;
	}
}

@keyframes bigbang-g5 {
	from {
		top: calc(50% - 6px);
		left: calc(50% - 6px);
	}
	to {
		top: calc(100% - 12px);
		left: 11%;
	}
}

@keyframes bigbang-g6 {
	from {
		top: calc(50% - 6px);
		left: calc(50% - 6px);
	}
	to {
		top: 0;
		left: 89%;
	}
}

@keyframes bigbang-g7 {
	from {
		top: calc(50% - 6px);
		left: calc(50% - 6px);
	}
	to {
		top: 0;
		left: calc(50% - 6px);
	}
}

@keyframes bigbang-g8 {
	from {
		top: calc(50% - 6px);
		left: calc(50% - 6px);
	}
	to {
		top: calc(100% - 6px);
		left: calc(50% - 6px);
	}
}

div#g1 { animation-name: bigbandg-g1; }
div#g2 { animation-name: bigbandg-g2; }
div#g3 { animation-name: bigbandg-g3; }
div#g4 { animation-name: bigbandg-g4; }
div#g5 { animation-name: bigbandg-g5; }
div#g6 { animation-name: bigbandg-g6; }
div#g7 { animation-name: bigbandg-g7; }
div#g8 { animation-name: bigbandg-g8; }
