@keyframes bigbang-g1 {
	0% {
		top: calc(50% - 6px);
		left: calc(50% - 6px);
	}
	to {
		top: 0;
		left: 0;
	}
}

@keyframes bigbang-g2 {
	2% {
		top: calc(50% - 6px);
		left: calc(50% - 6px);
	}
	to {
		top: calc(100% - 12px);
		left: calc(100% - 12px);
	}
}

@keyframes bigbang-g3 {
	1% {
		top: calc(50% - 6px);
		left: calc(50% - 6px);
	}
	to {
		top: 42%;
		left: calc(100% - 12px);
	}
}

@keyframes bigbang-g4 {
	4% {
		top: calc(50% - 6px);
		left: calc(50% - 6px);
	}
	to {
		top: 58%;
		left: 0;
	}
}

@keyframes bigbang-g5 {
	from {
		top: calc(50% - 6px);
		left: calc(50% - 6px);
	}
	to {
		top: calc(100% - 12px);
		left: 11%;
	}
}

@keyframes bigbang-g6 {
	from {
		top: calc(50% - 6px);
		left: calc(50% - 6px);
	}
	to {
		top: 0;
		left: 89%;
	}
}

@keyframes bigbang-g7 {
	from {
		top: calc(50% - 6px);
		left: calc(50% - 6px);
	}
	to {
		top: 0;
		left: calc(50% - 6px);
	}
}

@keyframes bigbang-g8 {
	from {
		top: calc(50% - 6px);
		left: calc(50% - 6px);
	}
	to {
		top: calc(100% - 6px);
		left: calc(50% - 6px);
	}
}

#universe.running #g1 { animation-name: bigbang-g1; }
#universe.running #g2 { animation-name: bigbang-g2; }
#universe.running #g3 { animation-name: bigbang-g3; }
#universe.running #g4 { animation-name: bigbang-g4; }
#universe.running #g5 { animation-name: bigbang-g5; }
#universe.running #g6 { animation-name: bigbang-g6; }
#universe.running #g7 { animation-name: bigbang-g7; }
#universe.running #g8 { animation-name: bigbang-g8; }

#universe.omegaet1 .galaxy {
	animation-timing-function: cubic-bezier(0,.11,.44,.44);
}

#universe.omegalt1 .galaxy {
	animation-timing-function: cubic-bezier(0,.04,.26,.26);
}

#universe.omegagt1 .galaxy {
	animation-timing-function: cubic-bezier(0,0,.58,1);
	animation-duration: 2.5s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
}

#universe.omegalt1wde .galaxy {
	animation-timing-function: cubic-bezier(0,.19,.95,.52);
}
