@keyframes bigbang-g1 {
	from {
		top: calc(50% - 6px);
		left: calc(50% - 6px);
	}
	to {
		top: 0;
		left: 0;
	}
}

@keyframes bigbang-g2 {
	from {
		top: calc(50% - 6px);
		left: calc(50% - 6px);
	}
	to {
		top: calc(100% - 12px);
		left: calc(100% - 12px);
	}
}

@keyframes bigbang-g3 {
	from {
		top: calc(50% - 6px);
		left: calc(50% - 6px);
	}
	to {
		top: 42%;
		left: calc(100% - 12px);
	}
}

@keyframes bigbang-g4 {
	from {
		top: calc(50% - 6px);
		left: calc(50% - 6px);
	}
	to {
		top: 58%;
		left: 0;
	}
}

@keyframes bigbang-g5 {
	from {
		top: calc(50% - 6px);
		left: calc(50% - 6px);
	}
	to {
		top: calc(100% - 12px);
		left: 11%;
	}
}

@keyframes bigbang-g6 {
	from {
		top: calc(50% - 6px);
		left: calc(50% - 6px);
	}
	to {
		top: 0;
		left: 89%;
	}
}

@keyframes bigbang-g7 {
	from {
		top: calc(50% - 6px);
		left: calc(50% - 6px);
	}
	to {
		top: 0;
		left: calc(50% - 6px);
	}
}

@keyframes bigbang-g8 {
	from {
		top: calc(50% - 6px);
		left: calc(50% - 6px);
	}
	to {
		top: calc(100% - 6px);
		left: calc(50% - 6px);
	}
}

div.running#g1 { animation-name: bigbang-g1; }
div.running#g2 { animation-name: bigbang-g2; }
div.running#g3 { animation-name: bigbang-g3; }
div.running#g4 { animation-name: bigbang-g4; }
div.running#g5 { animation-name: bigbang-g5; }
div.running#g6 { animation-name: bigbang-g6; }
div.running#g7 { animation-name: bigbang-g7; }
div.running#g8 { animation-name: bigbang-g8; }
